{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "indentation": 2,
    "color-hex-case": "lower",
    "max-nesting-depth": 3
  },
  "ignoreFiles": ["styles/resets/normalize.css"]
}
