.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 12px 14px;

  &__app-logo {
    display: block;
    color: black;
    font-size: 28px;
    font-family: Signika, sans-serif;
    text-decoration: none;
  }

  &__nav-menu {
    display: flex;
  }

  &__nav-link {
    display: block;
    margin-right: 18px;
    color: black;
    font-size: 18px;
    font-family: Signika, sans-serif;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }
}
