.note-expanded {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__modal {
    z-index: 30;
    width: 600px;
    max-width: 95%;
    height: 350px;
    margin-top: -100px;
    padding: 14px;
    background-color: white;
    border-radius: 8px;
  }

  &__title, &__description {
    display: block;
    width: 95%;
    padding: 8px 12px;
    border: none;
    outline: none;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 20px
  }

  &__description {
    font-size: 16px;
    resize: none;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__close-button {
    display: inline-block;
    margin: 0 6px;
    padding: 6px 14px;
    color: #24292e;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
